


/************* 
Base
**************/

html, body{
  box-sizing: border-box;
  width:100%;
  font-family: $font-paragraph;
  background: linear-gradient(to right, $mainColor, $mainColor2);
}


*, *:before, *:after{
  box-sizing:border-box;
}


*:focus {
    outline: none;
}

fieldset{
  border: none;
}

input[type=submit]{
  border:none;
  font-size:1em;
}


a{
  color: black;
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

img {
    max-width: 100%;
}

ul{
	list-style-type: none;
}

code {
    font-family: monospace, monospace;
    font-size: 1em;
    color: black;
}











