$font: 'Raleway', sans-serif;
$page-bg: #FF6347;
$text-color: #FFFFFF;
$radio-btn-border: #FFFFFF;
$radio-btn-circle: #FFFFFF;
$header: #000000;
$checkbox-check-color: green;

// default height and width for radio button
$radio-btn-width:25px;
$radio-btn-height:25px;
