{% extends 'main.twig' %}

{% block content %}

<section class="l-container">
  <form action="" method="post" class="contact-form">
  
	<fieldset>
	  <label class="form__label" for="">Full Name</label>
      <input class="form__input" type="text" name="name" placeholder="Enter full name" required />
    </fieldset>
	
    <fieldset>
      <label class="form__label" for="">EMAIL</label>
      <input class="form__input" name="email" placeholder="Enter email address" required />
    </fieldset>
	
    <fieldset>
      <label class="form__label" for="">Message</label>
      <input class="form__input" type="text" name="msg" placeholder="Comments" required />
    </fieldset>
	
    <input class="form__submit is-btn-hovered" type="submit" value="Submit">
	
  </form>
</section>


{% endblock content %}