
<section class="l-container">
  <form action="#" class="form">
    <fieldset>
      <div>Radio - Expanding</div>
      <input type="radio" name="radioexpand" value="agree" id="agree" class='radio-expand'> 
      <label for="agree" class='radio-btn radio-btn--top'>AGREE</label><br>
      <input type="radio" name="radioexpand" value="disagree" id="disagree" class='radio-expand'> 
      <label for="disagree" class='radio-btn radio-btn--bottom'>DISAGREE</label><br>
    </fieldset>
    <fieldset>
      <div>Radio - Fade In</div>
      <input type="radio" name="radiofade" value="pricea" id="pricea" class='radio-fade'> 
      <label for="pricea" class='radio-btn radio-btn--top'>PRICE A</label><br>
      <input type="radio" name="radiofade" value="priceb" id="priceb" class='radio-fade'> 
      <label for="priceb" class='radio-btn radio-btn--bottom'>PRICE B</label><br>
    </fieldset>
    <fieldset>
      <div>Radio - Expolding</div>
      <input type="radio" name="radioexplode" value="yes" id="yes" class='radio-explode'> 
      <label for="yes" class='radio-btn radio-btn--top'>YES</label><br>
      <input type="radio" name="radioexplode" value="no" id="no" class='radio-explode'> 
      <label for="no" class='radio-btn radio-btn--bottom'>NO</label><br>
    </fieldset>
    <fieldset>
      <div>Radio - Flip</div>
      <input type="radio" name="radioflip" value="optiona" id="optiona" class='radio-flip'> 
      <label for="optiona" class='radio-btn radio-btn--top'>OPTION A</label><br>
      <input type="radio" name="radioflip" value="optionb" id="optionb" class='radio-flip'> 
      <label for="optionb" class='radio-btn radio-btn--bottom'>OPTION B</label><br>
    </fieldset>
    <fieldset>
      <div>Checkbox - Check</div>
      <input type="checkbox" name="checkboxchk1" value="checkboxchk" id="checkboxchk1" class='checkbox-check'> 
      <label for="checkboxchk1" class='checkbox-btn checkbox-btn--top'>Large</label><br>
      <input type="checkbox" name="checkboxchk2" value="checkboxchk2" id="checkboxchk2" class='checkbox-check'> 
      <label for="checkboxchk2" class='checkbox-btn checkbox-btn--bottom'>X-Large</label><br>
    </fieldset>
    <fieldset>
      <div>Checkbox - X</div>
      <input type="checkbox" name="checkboxX1" value="checkboxX" id="checkboxX1" class='checkbox-x'> 
      <label for="checkboxX1" class='checkbox-btn checkbox-btn--top'>Miami</label><br>
      <input type="checkbox" name="checkboxX2" value="checkboxX2" id="checkboxX2" class='checkbox-x'> 
      <label for="checkboxX2" class='checkbox-btn checkbox-btn--bottom'>Chicago</label><br>
    </fieldset>
  </form>
</section>