{% extends 'main.twig' %}

{% block content %}

<section class="l-container">

	<div class="homeInfo homeInfo--intro">
		<h1>What is Selects</h1>
		<p>A collection of checkbox animations made in CSS / Sass using the "Checkbox Hack". There is <strong>no Javascript </strong> used. The checkboxes use the<code> &ltlabel&gt </code> element for their inputs and hide checkbox inputs due to their limited CSS support. By using a <code>for</code> attribute on the <code> &ltlabel&gt </code> element, you tell the browser which label belongs which input. </p>
		<code>
			&ltlabel for="myName"&gtLabel&lt/label&gt </br>
			&ltinput name="myName" /&gt
		</code>
		<p>Animations are created using the keyframe animations. Some also include the <code>:before</code> and <code>:after</code> pseudo elements of labels. These can be used in real world projects, take a look at the code on <a class="ghlink isghink-hovered" href="https://github.com/esolar07/Selects">Github</a> .</p>
	</div>
	<div class="homeInfo homeInfo--support">
		<h1>Browser Support</h1>
		<p>These checkboxes will work in all the major browsers:</p>
		<ul class="homeInfo__support">
			<li class="homeInfo__browser">Google Chrome</li>
			<li class="homeInfo__browser">FireFox</li>
			<li class="homeInfo__browser">Internet Explorer</li>
			<li class="homeInfo__browser">Opera</li>
			<li class="homeInfo__browser">Safari</li>
		</ul>
	</div>
	<div class="homeInfo homeInfo--use">
		<h1>How to use</h1>
		<br>
		<h3>CSS</h3>
		<p>Download the CSS library</p>
		<p>Link to the file within your project</p>
		<p>Add a class to your element</p>
		<br>
		<h3>Sass</h3>
		<p>Download the Sass library</p>
		<p>Using the <code>@import</code> statement, import the Sass file into the Sass manifest file </p>
		<p>Either <code>@include</code> and <code>@extend</code> in the element</p>
	</div>
</section>

{% endblock content %}