<!doctype html>

<html lang="en">
<head>
  {% block head %}
  <meta charset="utf-8">
  <title>{% block title %}Selects {% endblock title %}</title>
  <meta name="description" content="Selects">
  <meta name="author" content="Eddie Solar">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheet/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src=""></script>
  {% endblock head %}
</head>

<body>



  <header class="l-head">
	<nav class="nav">
		<div class="nav__info">
			<div class="nav__logo">
			  <img src="img/selects-logo.png" alt="Selects" />
			</div>
			<p class="nav__header">Selects</p>
		</div>
		<ul class="nav__menu">
		  <li class="nav__item is-Nav-Item-Hovered">
			<a href="{{ baseUrl() }}">Home</a>
		  </li>
		  <li class="nav__item is-Nav-Item-Hovered">
			<a href="{{ siteUrl('/examples') }}">Examples</a>
		  </li>
		</ul>
	</nav>
  </header>

  <main>
	{% block content %}
    
	
	{% endblock content %}
  </main>

  <footer class="l-footer">
	{% block footer %}
    <ul class="footer">
	  <li class="footer__item"> Made by Eddie Solar - </li>
	  <li class="footer__item">View the source on 
		<a href="https://github.com/esolar07/Selects">Github</a>
	  </li>
    </ul>
	{% endblock footer %}
  </footer>

</body>
</html>